# Exclude binaries
*.exe
*.dll
*.obj
*.pdb
*.ilk

# Exclude all log and cache directories
logs/
cache/

# Exclude specific Visual Studio Code files
.vs/

# General exclude patterns for C++ build outputs
Debug/
Release/
x64/
build/
*.suo
*.user
*.VC.db
*.VC.VC.opendb

# Include Visual Studio Code configuration files
!.vscode/
